

body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.doctor-info-title-container {
    width: 100%;
    background-color: #53e6d3; 
    text-align: center;
    padding: 20px;
    margin: 0; 
    position: relative;
    box-sizing: border-box;
}

.doctor-info-title {
    font-size: 2em;
    color: #fff; 
    margin: 0;
    font-weight: bold;
}

.doctor-list-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}