.headline {
  /* background-color: #53e6d3; */
  /* color: white;               */
  padding:  40px;      
  border-radius: 8px;       
  text-align: center;        
  font-size: 24px;           
  font-weight: bold;         
  width: 100%;                
  box-sizing: border-box;     
}